#map{
    max-width: 900px;
    max-height: 900px;
    aspect-ratio: 1 / 1;
    height: 100dvh;
    width: 100vw;
}

.map_container{
    display: flex;
    justify-content: center;
    align-items: center;

    /* max-width: 900px;
    max-height: 900px;
    aspect-ratio: 2 / 2; */
    height: 100dvh;
    width: 100vw;
}